In [ ]:
# import sys
# !{sys.executable} -m pip install beautifulsoup4

In [1]:
import requests 
from selenium import webdriver
from bs4 import BeautifulSoup 
import pandas as pd
import csv

In [2]:
df = pd.DataFrame(columns=['course', 'number', 'unknown', 'time', 'day', \
                           'building', 'room', 'seat', 'avail', 'wait'])

In [3]:
URL = "https://registrar.indiana.edu/browser/soc4198/index.shtml"
r = requests.get(URL) 
  
soup_d = BeautifulSoup(r.content, 'html5lib')

In [4]:
depts = []
for tag in soup_d.find_all('a'):
    if tag.string is not None:
        if tag.string.isupper():
            depts.append(tag.string)

In [5]:
driver = webdriver.Chrome()
driver.get(URL)

for d in depts[:2]:
    driver.find_element_by_link_text(d).click()
    soup_c = BeautifulSoup(driver.page_source)
    courses = []
    for tag in soup_c.find_all('a'):
        if tag.string is not None:
            if tag.string.isupper():
                courses.append(tag.string)
    for c in courses[:2]:
        driver.find_element_by_link_text(c).click()
        soup_t = BeautifulSoup(driver.page_source)
        temp = soup_t.find_all('pre')[1]
        fir = [temp.contents[1].string]
        sec = temp.contents[2].split('\n')[1].split()[0:6]
        third = temp.contents[2].split('\n')[1].split()[-3:]
        df.loc[len(df)] = fir + sec + third
        driver.back()
    driver.back()

In [6]:
df

,course,number,unknown,time,day,building,room,seat,avail,wait
0,AAAD-A 100 AF AM DANCE COMPNY FOUNDATIONS (2 CR),11915,PERM,03:30P-06:30P,TR,TH,A217,20,20,0
1,AAAD-A 110 AF AM CHORAL ENSEMBL FOUNDATNS (2 CR),4219,02:30P-04:00P,MW,TH,A219,Wise,40,27,0
2,AADM-Y 500 TOPICS IN ARTS ADMINISTRATION (3 CR),VT:,ARTS,WRITING,&,ADV,MARKETING,&,ADV,MARKETING
3,AADM-Y 502 INTRO ARTS ADMIN & ORG BEHVIOR (3 CR),9259,11:15A-12:30P,MW,PV,163,Kuhar,40,6,0